/* 
디자인파일
style 내부에 작성하는 디자인 코드만 보관하는 파일
html에서 불러올떄는 <link>태그 사용
불러오면 자동으로 찾아서 디자인 적용

자주쓰는 디자인 코드를 모아 여기 저장
*/

div {
    box-shadow: 0 0 1px gray;
}

* {
    box-sizing: border-box;
    /* box-shadow: gray; */
    font-family: 고딕;
}

.left {
    text-align: left !important;
}

.center {
    text-align: center !important;
}

.right {
    text-align: right !important;
}

*.border {
    box-shadow: #2d3436;
}

.container {
    margin: 0 auto;
}

.w-25 {
    width: 25% !important;
}

.w-30 {
    width: 30% !important;
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}

.w-200 {
    width: 200px !important;
}

.w-250 {
    width: 250px !important;
}

.w-300 {
    width: 300px !important;
}

.w-350 {
    width: 350px !important;
}

.w-400 {
    width: 400px !important;
}

.w-450 {
    width: 450px !important;
}

.w-500 {
    width: 500px !important;
}

.w-550 {
    width: 550px !important;
}

.w-600 {
    width: 600px !important;
}

.w-650 {
    width: 650px !important;
}

.w-700 {
    width: 700px !important;
}

.w-750 {
    width: 750px !important;
}

.w-800 {
    width: 800px !important;
}

.w-850 {
    width: 850px !important;
}

.w-900 {
    width: 900px !important;
}

.w-950 {
    width: 950px !important;
}

.w-1000 {
    width: 1000px !important;
}

.w-1050 {
    width: 1050px !important;
}

.w-1100 {
    width: 1100px !important;
}

.cell {
    margin: 10px 0;
}

/*
여백을 모듈화시켜 클래스로 만듬 
-여백에는 방향이 존재
-클래스에 방향까지 지정가능하게 규격화시켜 처리
*/

.mt-0 {
    margin-top: 0px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.ms-0 {
    margin-left: 0px !important;
}

.ms-10 {
    margin-left: 10px !important;
}

.ms-20 {
    margin-left: 20px !important;
}

.ms-30 {
    margin-left: 30px !important;
}

.ms-40 {
    margin-left: 40px !important;
}

.ms-50 {
    margin-left: 50px !important;
}

.me-0 {
    margin-right: 0px !important;
}

.me-10 {
    margin-right: 10px !important;
}

.me-20 {
    margin-right: 20px !important;
}

.me-30 {
    margin-right: 30px !important;
}

.me-40 {
    margin-right: 40px !important;
}

.me-50 {
    margin-right: 50px !important;
}


/*
입력창 디자인(input/select/textarea)         
*/
.field {
    outline: none;
    font-size: 16px;
    padding: 0.5em 0.75em;
    border: 1px solid #636e72;
    border-radius: 0.1em;
}

.field:focus {
    border-color: #313739;
}

textarea.feild {
    resize: none;
}

/* 버튼 디자인 
-a태그와 버튼을 동일하게 디자인
-버튼마다 역할이 다름
-긍정: 현재 페이지의 목적을 달성하거나 긍정적인 영향을 주는
-부정: 현재 페이지의 목적이 부정적인 작업(수정/삭제)위험 경고
-중립: 현재 페이지의 목적과 관계없는 작업 버튼

*/

.btn {
    outline: none;
    font-size: 16px;
    padding: 0.5em 0.75em;
    cursor: pointer;
    border: 1px solid #636e72;
    border-radius: 0.1em;
    /* a태그까지 고려한 디자인 추가 */
    text-decoration: none;
    color: #2d3436;
    background-color: #f2f2f2;
    display: inline-block;
    text-align: center;
}


.btn:hover {
    filter: brightness(150%);
}

.btn.btn-positive {
    background-color: #0984e3;
}

.btn.btn-negative {
    background-color: #d63031;
}

.btn.btn-neutral {
    background-color: #868686;
}

/* 이건 선택사항 */
/* a.btn{padding: 1px 0;} */

/* 글자 색상 클래스 */

.red {
    color: #d63031;
}

.orange {
    color: #e17055;
}

.yello {
    color: #fdcb6e;
}

.green {
    color: #55efc4;
}

.blue {
    color: #0984e3;
}

.purple {
    color: #6c5ce7;
}

.black {
    color: #2d3436;
}

.gray {
    color: #b2bec3;
}

.white {
    color: whitesmoke;
}

.table {
    /* border: 1px solid black; */
    border-collapse: collapse;
    font-size: 16px;
    font-weight: 400 !important;
    /* 이건 폭 강제하는거 */
    /* 필요없음 주석처리할것 */
    table-layout: fixed;
}

.table>thead>tr>th,
.table>thead>tr>td,
.table>tbody>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>th,
.table>tfoot>tr>td {
    /* border: 1px solid black; */
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
    padding: 0.25em;
    /* inherit(상속) 가장 가까운 외부영역의 규칙을 따라라 */
}


/* 테이블 선 */
.table.table-border>thead>tr>th,
.table.table-border>thead>tr>td,
.table.table-border>tbody>tr>th,
.table.table-border>tbody>tr>td,
.table.table-border>tfoot>tr>th,
.table.table-border>tfoot>tr>td {
    border: 1px solid black;
}


/* .table.table-hover > thead > tr:hover, */
/* .table.table-hover > tfoot > tr:hover */
/* 마우스에 반응하는 테이블 */
.table.table-hover>tbody>tr:hover {
    /* filter: brightness(30); */
    background-color: #00a8ff !important;
}

/* 
줄무늬 테이블 
n 키워드는 변수로 적용가능하다
*/
table.table-striped>thead>tr {
    background-color: #4ba53d;
}

table.table-striped>tbody>tr:nth-child(2n) {
    background-color: #4cd137;
}

.pagination {
    text-align: center;

}

.pagination>a {
    text-decoration: none;
    color: #353b48;
    font-size: 16px;
    display: inline-block;
    padding: 0.25em;
    min-width: 2.5em;
    /* 테두리 */
    /* border: 1px solid transparent; */
}

.pagination>a:hover,
.pagination>a.on {
    /* 그림자 */
    /* box-shadow: x y b s color; */
    box-shadow: 0px 0px 1px 1px black;
    /* border: 1px solid #353bdd; */
    background-color: #81ecec;

}

/*배지(badge)스타일*/
.badge {
    border: 1px solid #2d3436;
    border-radius: 100px;
    padding: 0 0.25em;
}

.float-box::after {
    content: "";
    display: block;
    clear: both;
}

.float-box>.float-left {
    /* text-align: center; */
    float: left;
}

.float-box>.float-right {
    float: right;
}

/* 링크의 밑줄 지우기 */
.link {
    text-decoration: none;
}

/* 이미지가 포함된 입력창 */
.feild.feild-image {
    padding-left: 3em;
    background-size: 2em 1.5em;
    background-repeat: no-repeat;
    background-position: 0.5em center;
}

/* Flexible 디자인 */
.flex-box {
    display: flex;
    flex-direction: row;
}

.inline-flex-box {
    display: inline-flex;
    flex-direction: row;
}

/* 세로형 배치 */
.flex-box.flex-vertical,
.inline-flexbox.flex-vertical {
    flex-direction: column;
}

/* 플랙스 배치 내에서 나머지 모두 차지 */
.flex-box>.flex-fill,
.inline-flex-box>.flex-fill {
    flex-grow: 1;
}

/* 크기가 충분하면 정가운데 배치 */
.flex-box.flex-center,
.inline-flex-box.flex-center {
    justify-content: center;
    align-items: center;
}

.card {
    padding: 25px;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 0 0 15px 0px transparent;
    transition-property: box-shadow;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 15px 0 black;
}

.menu {
    background-color: #18dcff;
}

.menu>a {
    text-decoration: none;
    color: #333333;
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 20px;
    padding: 0.5em;
    /* 
    말줄임표 처리
    반드시 세 속성이 있어야됨 폭(width)은 기본적으로 있어야됨(기준)
    나머지는 폭을 기준으로
    넘침(overflow) 글자 넘침(text-overflow) 줄바꿈(white-space)
    */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu>a:hover {

    /* filter: brightness(110%); */
    color: #000000;
    background-color: #f8f9fa
}

.menu>.divider {
    margin-left: auto;
    margin-right: auto;
}

/* 말줄임표 설정 클래스 */
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 
HTML의 기본 배치방식을 무시하고 내가 원하는 방식으로 위치를 지정 
- static : 연관배치, 위치조정 불가
- relative : 연관배치, 미세조정 가능
- absolute : 절대배치, 문서의 절대적인 위치에 배치
- fixed : 절대배치, 뷰포트(viewport)의 절대적인 위치에 배치
- relative, absolute, fixed는 위치를 직접 지정할 수 있다 
- top : 상단에서 얼만큼 떨어져있는지를 표시
- left : 좌측...
- bottom : 하단...
- right : 우측...
*/
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

/* 입력창 검사 성공/실패에 대한 디자인(+JS) */
.field.success {
    border-color: #0984e3 !important;
}

.field.fail,
.field.fail2
{
    border-color: #d63031 !important;
}

/* 기본적으로 피드백은 모두 숨김 처리 */
.success-feedback,
.fail-feedback,
.fail2-feedback
{
    display: none;
}

/* 성공 피드백 디자인 */
.success-feedback {
    color: #0984e3;
}

/* 실패 피드백 디자인 */
.fail-feedback,
.fail2-feedback
{
    color: #d63031;
}

/* 검사에 성공한 입력창 뒤에 있는 성공 피드백을 표시 */
.field.success~.success-feedback {
    display: block;
}

/* 검사에 실패한 입력창 뒤에 있는 실패 피드백을 표시 */
.field.fail~.fail-feedback,
.field.fail2~.fail2-feedback
{
    display: block;
}